<div *ngIf="userProfileForm" class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Thông tin cá nhân</h4>
            <p class="card-category">Hoàn thành profile của bạn</p>
          </div>
          <div class="card-body">
            <form [formGroup]="userProfileForm">
              <div class="row">
                <div class="col-6">
                  <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" (blur)="updateUser()">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" (blur)="updateUser()">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="w-100">
                    <mat-label>Số điện thoại</mat-label>
                    <input matInput formControlName="phoneNumber" (blur)="updateUser()">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="w-100">
                    <mat-label>Phân hệ</mat-label>
                    <input matInput formControlName="role" readonly>
                  </mat-form-field>
                </div>
                <div *ngIf="userCurrent.role == 2 || userCurrent.role == 3" class="col-6">
                  <mat-form-field class="w-100">
                    <mat-label>Quận</mat-label>
                    <input matInput formControlName="district" readonly>
                  </mat-form-field>
                </div>
                <div *ngIf="userCurrent.role == 2" class="col-6">
                  <mat-form-field class="w-100">
                    <mat-label>Phường</mat-label>
                    <input matInput formControlName="ward" readonly>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
