<form [formGroup]="loginForm">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Email</label>
    <input type="email" id="form2Example1" class="form-control" formControlName="email" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control" formControlName="password" />
  </div>

  <div class="form-outline mb-4 d-flex align-items-center">
    <input class="form-check-input" type="checkbox" checked />
    <label class="form-check-label" for="form2Example31"> Remember me </label>
  </div>

  <div class="row m-0 p-0 mb-4 d-flex align-items-center">
    <button type="button" class="btn btn-primary btn-block" (click)="login()" [disabled]="!loginForm.valid"
      [style.opacity]="!loginForm.valid? .5: 1">Sign in</button>
  </div>

  <!-- Submit button -->

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a (click)="modalOpen()">Forgot password?</a></p>
    <p>or sign up with:</p>
    <button type="button" class="btn btn-link btn-floating mx-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook"
        viewBox="0 0 16 16">
        <path
          d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
      </svg>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google"
        viewBox="0 0 16 16">
        <path
          d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
      </svg>
    </button>
  </div>
</form>


<nz-modal [nzStyle]="{ top: '20vh', height: '90vh' }" [(nzVisible)]="isVisibleModal" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="modalCancel()">
  <ng-template #modalTitle>Password Reset</ng-template>
  <ng-template #modalContent>
    <app-reset-password *ngIf="wait == false" (mailReset)="mailReset($event)"></app-reset-password>
    <div *ngIf="wait == true">
      <div class="form-outline d-flex align-items-center">
        <div class="form-outline">
          <label class="form-label">Nhập mã xác minh</label>
          <input type="text" class="form-control" [(ngModel)]="verificationCode" />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <div class="d-flex justify-content-between mt-4">
      <a class="btn btn-primary" (click)="modalCancel()">Login</a>
      <a *ngIf="wait == false" class="btn btn-primary" (click)="resetPassword()">Reset password</a>
      <a *ngIf="wait == true" class="btn btn-primary" (click)="checkVerificationCode(verificationCode)">Xác minh</a>
    </div>
  </ng-template>
</nz-modal>


<!-- Đặt lại pass -->
<nz-modal [nzStyle]="{ top: '20vh', height: '30vh' }" [(nzVisible)]="isVisiblePrePassword" [nzTitle]="modalTitlePw"
  [nzContent]="modalContentPw" [nzFooter]="modalFooterPw" (nzOnCancel)="prePasswordCancel()">
  <ng-template #modalTitlePw>Đặt lại mật khẩu</ng-template>
  <ng-template #modalContentPw>
    <form style="height: 25vh !important" [formGroup]="preResetPasswordForm">
      <div class="form-outline ">
        <label class="form-label" for="form2Example2">Mật khẩu mới</label>
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Nhập mật khẩu"
            formControlName="new_password" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"></span>
        </ng-template>
      </div>

      <div class="form-outline">
        <label class="form-label" for="form2Example2">Nhập lại mật khẩu mới</label>
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Nhập lại mật khẩu"
            formControlName="pre_new_password" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"></span>
        </ng-template>
      </div>
    </form>
  </ng-template>
  <ng-template #modalFooterPw>
    <div class="d-flex justify-content-center align-items-center">
      <a class="btn btn-primary" (click)="updatePassword()">Cập nhật</a>
    </div>
  </ng-template>
</nz-modal>
