<div class="container-fluid">
  <div *ngIf="loading" class="row p-0 m-0 d-flex justify-content-center">
    <div class="title d-flex align-items-center">
      <h4 class="m-0">Danh sách điểm quảng cáo {{ward?.name}}</h4>
    </div>
    <nz-table #basicTable [nzData]="dataReportByEmail">
      <thead>
        <tr>
          <th>Tên</th>
          <th>Trạng thái</th>
          <th>Loại báo cáo</th>
          <th>Địa điểm thuộc</th>
          <th nzAlign="center">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; index as i">
          <td>{{data.full_name}}</td>
          <td>{{data.isProcess == true? 'Đã xử lý' : 'Chưa xử lý' }}</td>
          <td></td>
          <td>{{data.nameWard}} - {{data.nameDistrict}}</td>
          <td nzAlign="center">
            <!-- <a class="text-success" (click)="seeDetail(data)">Chi tiết</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a class="text-danger" (click)="deleteDetail(i)">Xóa</a> -->
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<app-mat-spinner-overlay [overlay]="!loading"></app-mat-spinner-overlay>
