<div class="row p-0 m-0 d-flex justify-content-center">
  <div class="title d-flex align-items-center justify-content-between">
    <span>Số lượng: <span class="text-danger"> {{dataPositions.length}}</span></span>
  </div>
  <nz-table #basicTable [nzData]="dataPositions" [nzScroll]="{ x: '1200px', y: '300px' }">
    <thead>
      <tr>
        <th nzLeft nzWidth="6vw">Đã xem</th>
        <th nzLeft>Công ty / Điểm đặt ADS</th>
        <th>Trạng thái</th>
        <th>Liên hệ</th>
        <th>Nội dung</th>
        <th nzRight>Người gửi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; index as i">
        <td nzLeft [nzChecked]="data.isViewed" [nzDisabled]="data.isViewed"
          (nzCheckedChange)="changeViewed($event, data.id);  data.isViewed = $event">
        </td>
        <td nzLeft>
          {{data.information_company}}<br>
          <b>Mã điểm:</b> {{data.ads_code}}
        </td>
        <td>
          <nz-select (ngModelChange)="updateProcess($event, data)" [disabled]="data.isProcess == true" nzShowSearch nzAllowClear [(ngModel)]="data.isProcess">
            <nz-option nzLabel="Đã được xử lí" [nzValue]="true"></nz-option>
            <nz-option nzLabel="Chưa xử lí" [nzValue]="false"></nz-option>
          </nz-select>
        </td>
        <td>
          Phone: {{data.phone_company}} <br>
          Email: {{data.email_company}} <br>
          Địa chỉ: {{data.address_company}} <br>
        </td>
        <td>
          <div [innerHTML]="data.content"></div>
        </td>
        <td nzRight>
          {{data.from_email}}
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
