<div class="container-fluid">
  <div *ngIf="loading" class="row p-0 m-0 d-flex justify-content-center">
    <div class="title d-flex align-items-center">
      <h4 class="m-0">Danh sách điểm quảng cáo {{district?.name}}</h4>
    </div>
    <div class="d-flex justify-content-center justify-content-between">
      <span>Số lượng điểm: <span class="text-danger"> {{adsList.length}}</span></span>
      <select (ngModelChange)="changeWard($event)" style="width: 15em;" [(ngModel)]="wardSelect" class="form-select">
        <option [value]="0">Tất cả</option>
        <option *ngFor="let item of ward" [value]="item.code">{{item.name}}</option>
      </select>
    </div>
    <nz-table #basicTable [nzData]="adsList" [nzScroll]="{ x: '1200px', y: '300px' }">
      <thead>
        <tr>
          <th>Mã ads</th>
          <th>Trạng thái</th>
          <th>Địa chi</th>
          <th>Kích thước</th>
          <th nzAlign="center">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; index as i">
          <td>{{data.ads_code}}</td>
          <td> <b [class]="data.data.is_zoning? 'text-success': 'text-danger'">{{data.data.is_zoning? 'Đã huy hoạch' :
              'Chưa huy hoạch' }}</b></td>
          <td> {{data.data.address}} </td>
          <td>{{data.data.width}}m - {{data.data.height}}m</td>
          <td nzAlign="center">
            <a class="text-success" (click)="seeDetail(data)">Chi tiết</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Basic Drawer" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <app-advertising-location-information [isPeople]="false" [marker]="markerSelected" ></app-advertising-location-information>
  </ng-container>
</nz-drawer>

<app-mat-spinner-overlay [overlay]="!loading"></app-mat-spinner-overlay>
