<div class="main w-100 h-100">
  <div id="mdb-navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow-2" style="z-index: 1 !important;">
    <div class="container-fluid">
      <button type="button" class="btn shadow-0 p-0 me-3"><i class="fas fa-bars fa-lg"></i></button>
      <a class="navbar-brand me-2" id="mdb-navbar-brand-logo"
        (click)="navigateByRoleUser(userCurrent?userCurrent.role: 1)">
        <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="16" alt="" loading="lazy"
          style="margin-top: -1px">
      </a>
      <span id="dpl-navbar-new-right-buttons" class="navbar-nav ms-auto d-flex flex-row">
        <ul id="main-navbar" class="nav navbar-nav nav-flex-icons ml-auto ms-auto flex-row">
          <ng-container *ngIf="userCurrent">
            <ng-container [ngSwitch]="userCurrent.role">
              <ng-container *ngSwitchCase="2"> <ng-template [ngTemplateOutlet]="templateRole2"></ng-template>
              </ng-container>
              <ng-container *ngSwitchCase="3"> <ng-template [ngTemplateOutlet]="templateRole3"></ng-template>
              </ng-container>
              <ng-container *ngSwitchCase="4"> <ng-template [ngTemplateOutlet]="templateRole4"></ng-template>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!userCurrent">
            <ng-template [ngTemplateOutlet]="templateRole1"></ng-template></ng-container>
          <li>
            <a *ngIf="!userCurrent" class="auth-modal-toggle btn btn-primary ripple-surface ms-2 me-1"
              data-auth-modal-tab="sign-in" (click)="openLogin()">Login</a>
            <ng-container *ngIf="userCurrent">
              <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
                <mat-icon>people</mat-icon>
              </button>
              <mat-menu style="z-index: 9999 !important;" x-position="after" #menu="matMenu">
                <button mat-menu-item routerLink="/information">
                  <mat-icon>send</mat-icon>
                  {{userCurrent.email}}
                </button>
                <button mat-menu-item routerLink="/information">
                  <mat-icon>edit</mat-icon>
                  Thông tin
                </button>
                <button mat-menu-item (click)="logout()">
                  <mat-icon>backspace</mat-icon>
                  Đăng xuất
                </button>
              </mat-menu>
            </ng-container>
          </li>
          <ng-template #templateRole1>
            <li class="nav-item me-3 me-lg-0 d-none d-sm-inline-block dropdown">
              <a class="nav-link" role="button" routerLink="/people/report">
                Báo cáo
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" role="button" routerLink="/people/reported">
                <span class="d-none d-lg-inline-block ml-1">Xem báo cáo</span>
              </a>
            </li>
          </ng-template>
          <ng-template #templateRole2>
            <li class="nav-item me-3 me-lg-0 d-none d-sm-inline-block dropdown">
              <a class="nav-link" role="button" routerLink="/ward-officials/list-of-ads">
                Danh sách điểm/bảng ADS
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" role="button" routerLink="/ward-officials/report-from-people">
                <nz-badge [nzCount]="reportWardCount">
                  <span class="d-none d-lg-inline-block ml-1">Xem báo cáo</span>
                </nz-badge>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" role="button" routerLink="/ward-officials/licensing">
                <span class="d-none d-lg-inline-block ml-1">Cấp phép ADS</span>
              </a>
            </li>
          </ng-template>
          <ng-template #templateRole3>
            <li class="nav-item me-3 me-lg-0 d-none d-sm-inline-block dropdown">
              <a class="nav-link" role="button" routerLink="/district-officer/list-of-ads">
                Danh sách điểm/bảng ADS
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" role="button" routerLink="/district-officer/report-from-people">
                <span class="d-none d-lg-inline-block ml-1">Xem báo cáo</span>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" role="button" routerLink="/district-officer/licensing">
                <span class="d-none d-lg-inline-block ml-1">Cấp phép ADS</span>
              </a>
            </li>
          </ng-template>
          <ng-template #templateRole4>
            <li class="nav-item me-3 me-lg-0 d-none d-sm-inline-block dropdown">
              <a class="nav-link" role="button" routerLink="/department-staff/manage-lists">
                Quản lý danh sách
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" role="button" routerLink="/department-staff/licensing-required">
                <nz-badge [nzCount]="licensingAdsCount + editAdsCount">
                  <span class="d-none d-lg-inline-block ml-1">Yêu cầu cấp phép</span>
                </nz-badge>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" role="button" routerLink="/department-staff/statistical">
                <span class="d-none d-lg-inline-block ml-1">Xem thống kê</span>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0" routerLink="/department-staff/account">
              <a class="nav-link" role="button">
                <span class="d-none d-lg-inline-block ml-1">Tạo tài khoản</span>
              </a>
            </li>
          </ng-template>
        </ul>
      </span>
    </div>
  </div>

  <div class="main-layout mdb-docs-layout">
    <div class="container-fluid w-100 h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
