<div class="row p-0 m-0 d-flex justify-content-center">
  <div class="title d-flex align-items-center justify-content-between">
    <span>Số lượng: <span class="text-danger"> {{dataPositions.length}}</span></span>
    <button class="btn btn-success" (click)="createData()">Thêm</button>
  </div>
  <nz-table #basicTable [nzData]="dataPositions" [nzScroll]="{ x: '2000px', y: '300px' }">
    <thead>
      <tr>
        <th nzLeft>STT</th>
        <th nzLeft>Mã điểm</th>
        <th>Phường</th>
        <th>Quận</th>
        <th>Đia chỉ</th>
        <th>Kích thước</th>
        <th nzWidth="15vw">Hình quảng cáo</th>
        <th nzWidth="15vw">Loại bảng quảng cáo</th>
        <th nzWidth="15vw">Hình thức quảng cáo</th>
        <th>Trạng thái</th>
        <th>Thời hạn bắt đầu</th>
        <th>Thời hạn kết thúc</th>
        <th nzRight nzAlign="center">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; index as i">
        <td nzLeft>{{i + 1}}</td>
        <td nzLeft>{{data.ads_code}}</td>
        <td>{{data.nameDistrict}}</td>
        <td>{{data.nameWard}}</td>
        <td>{{data.data.address}}</td>
        <td>{{data.data.width}}m x {{data.data.height}}m</td>
        <td>
          <nz-select class="w-100" (ngModelChange)="update(data)" nzPlaceHolder="Chọn hình ads" nzShowSearch
            nzAllowClear [(ngModel)]="data.data.position_type">
            <nz-option *ngFor="let item of positionTypeList" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-select class="w-100" (ngModelChange)="update(data)" nzPlaceHolder="Chọn loại bảng ads" nzShowSearch
            nzAllowClear [(ngModel)]="data.data.type_of_billboard">
            <nz-option *ngFor="let item of billboardList" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-select class="w-100" (ngModelChange)="update(data)" nzPlaceHolder="Chọn hình thức ads" nzShowSearch
            nzAllowClear [(ngModel)]="data.data.advertising_form">
            <nz-option *ngFor="let item of advertisingList" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-select (ngModelChange)="update(data)" nzShowSearch nzAllowClear [(ngModel)]="data.data.is_zoning">
            <nz-option nzLabel="Đã huy hoạch" [nzValue]="true"></nz-option>
            <nz-option nzLabel="Chưa huy hoạch" [nzValue]="false"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-date-picker (ngModelChange)="update(data)" class="w-100" nzBorderless
            [(ngModel)]="data.data.start_date_of_advertising_contract" nzFormat="dd/MM/yyyy"></nz-date-picker>
        </td>
        <td>
          <nz-date-picker (ngModelChange)="update(data)" class="w-100" nzBorderless
            [(ngModel)]="data.data.expiry_date_of_advertising_contract" nzFormat="dd/MM/yyyy"></nz-date-picker>
        </td>
        <td nzRight nzAlign="center">
          <a class="text-danger">Xóa</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>


<nz-modal [nzStyle]="{ top: '20px', height: '90vh' }" [(nzVisible)]="isVisibleModal" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="modalCancel()">
  <ng-template #modalTitle>Thêm mới loại hình thức ads</ng-template>
  <ng-template #modalContent>
    <div class="form-outline mb-4">
      <input type="text" placeholder="Nhập loại hình thức thêm mới" class="form-control"
        [(ngModel)]="newPositionType" />
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="submitForm(newPositionType);">Thêm</button>
  </ng-template>
</nz-modal>
