<div class="container-fluid">
  <div class="row p-0 m-0 d-flex justify-content-center">
    <div class="title mb-2 d-flex align-items-center justify-content-between">
      <h4 class="m-0">Danh sách tài khoản</h4>
      <button class="btn btn-outline-info">Tạo tài khoản mới</button>
    </div>
    <nz-table #basicTable [nzData]="dataReports">
      <thead>
        <tr>
          <th nzAlign="center">Đã xem</th>
          <th>Công ty / Điểm đặt ADS</th>
          <th>Trạng thái</th>
          <th>Liên hệ</th>
          <th>Nội dung</th>
          <th nzAlign="center">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; index as i">
          <td [nzChecked]="data.isViewed" [nzDisabled]="data.isViewed" F>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
          <td nzAlign="center">

          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>


<app-mat-spinner-overlay [overlay]="!loading"></app-mat-spinner-overlay>
