<div *ngIf="loading" class="people w-100 h-100">
  <app-jsmap *ngIf="markers.length" [markers]="markers" (outputChooseMarker)="outputChooseMarker($event)"></app-jsmap>
</div>
<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Basic Drawer" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <app-advertising-location-information [marker]="markerSelected" (outputReportAdvertising)="outputReportAdvertising($event)"></app-advertising-location-information>
  </ng-container>
</nz-drawer>


<app-mat-spinner-overlay [overlay]="!loading"></app-mat-spinner-overlay>
