<div mat-dialog-title class="modal-body">
  <ul class="nav nav-pills nav-justified mb-3" role="tablist">
    <li class="nav-item col" role="presentation">
      <a class="nav-link" [ngClass]="isLogin? 'active show': ''" (click)="isLogin = true;" data-mdb-toggle="pill"
        aria-selected="false" tabindex="-1">Login</a>
    </li>
    <!-- <li class="nav-item" role="presentation">
      <a class="nav-link" [ngClass]="!isLogin? 'active show': ''" (click)="isLogin = false;" data-mdb-toggle="pill"
        role="button" aria-selected="true" >Register</a>
    </li> -->
  </ul>
</div>
<mat-dialog-content>
  <app-login-form *ngIf="isLogin" (isLoginSuccess)="isLoginSuccess($event)"></app-login-form>
  <app-register-form *ngIf="!isLogin" (isLoginSuccess)="isLoginSuccess($event)"
    (isRegisterSuccess)="isRegisterSuccess($event)"></app-register-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
