<div mat-dialog-title class="modal-body ">
  <div class="d-flex justify-content-center align-self-center">
    <span>Đăng nhập quản lý</span>
  </div>
</div>
<mat-dialog-content>
  <app-login-form *ngIf="isLogin" (isLoginSuccess)="isLoginSuccess($event)"></app-login-form>
  <app-register-form *ngIf="!isLogin" (isLoginSuccess)="isLoginSuccess($event)"
    (isRegisterSuccess)="isRegisterSuccess($event)"></app-register-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
